<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-inner">
    <h4 class="search-bar-title">尋找帳目</h4>
    <form action="/" class="d-flex">
      <div class="input-group">
        <select name="sortCategory" id="sortCategory" class="form-control">
          <option selected>{{#if sortCategory}} {{sortCategory}} {{else}}請選擇類別 {{/if}}</option>
          <option value="家居物業">家居物業</option>
          <option value="交通出行">交通出行</option>
          <option value="休閒娛樂">休閒娛樂</option>
          <option value="餐飲食品">餐飲食品</option>
          <option value="其他">其他</option>
        </select>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" name="sortKeywords" placeholder="請輸入關鍵字">
        <div class="input-group-append">
          <button class="btn btn-major" type="submit" id="search-button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

  </div>
</div>


{{!-- total amount & add new button --}}

{{!-- record list --}}

{{#if recordData}}
<div class="container mt-5">
  <div class="row">
    <ul class="list-group">
      {{#each recordData}}
      <div class="record-item">
        <li class="list-group-item my-1" style="box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2); border-radius: 10px;">
          <div class="row mx-auto align-items-center">
            <div class="col-1 text-center">
              <i class="{{this.categoryId.icon}} index-icon"></i>
            </div>
            <div class="col-5">
              <h3>{{ this.name }}</h3>
              <div>{{ this.date }}</div>
            </div>
            <div class="col-3">
              <h3>{{ this.amount }}</h3>
            </div>
            <div class="col-3 d-flex">
              <a href="/records/{{this._id}}/edit">
                <button type="button" class="btn btn-info me-2">修改</button>
              </a>
              <form action="/records/{{this._id}}?_method=DELETE" method="POST">
                <button class="btn btn-danger">刪除</button>
              </form>
            </div>
          </div>
        </li>
        </li>

      </div>

      {{/each}}
    </ul>
  </div>
</div>
{{else}}

{{/if}}