<div class="info-bar d-flex">
  <!-- search bar -->
  <div class="container search-bar">
    <div class="search-bar-inner">
      <h4 class="search-bar-title">尋找帳目</h4>
      <form action="/" class="">
        <div class="input-group">
          <select name="sortCategory" id="sortCategory" class="form-select" onchange="submit()">
            <option value="">請選擇類別</option>
            {{#each categoryItem}}
            <option value="{{this.name}}" {{this.selected}}>{{this.name}}</option>
            {{/each}}
          </select>
          <button type="button" class="btn btn-outline-danger ms-2" onclick="ClearFields()">清除篩選</button>
        </div>
        <div class="input-group mt-2">
          <input type="text" class="form-control" id="sortKeywords" name="sortKeywords" placeholder="請輸入關鍵字"
            value="{{#if sortKeywords}}{{sortKeywords}}{{/if}}">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button">
              <i class="fas fa-search"></i>
            </button>
            <button type="submit" class="btn btn-outline-danger ms-2" onclick="ClearText()">清除關鍵字</button>
          </div>
        </div>
      </form>

    </div>
  </div>


  {{!-- total amount & add new button --}}
  <div class="function-bar second-container d-flex align-items-center text-center">
    <div class="container total-amount-container">
      <h5 class="totalamount">總計花費：{{totalAmount}}</h5>
    </div>
    <div class="container total-amount-container">
      <a href="/records/new">
        <button type="button" class="btn btn-info me-2">新增花費</button>
      </a>
      <a href="/categories">
        <button type="button" class="btn btn-info me-2 mt-2">管理類別</button>
      </a>
    </div>
  </div>
</div>



{{!-- record list --}}

{{#if recordData}}
<div class="container mt-5">
  <div class="row">
    <ul class="list-group">
      {{#each recordData}}
      <div class="record-item">
        <li class="list-group-item my-1" style="box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2); border-radius: 10px;">
          <div class="row mx-auto align-items-center">
            <div class="col-1 text-center">
              <i class="{{this.categoryId.icon}} index-icon"></i>
            </div>
            <div class="col-5">
              <h3>{{ this.name }}</h3>
              <div>{{ this.date }}</div>
            </div>
            <div class="col-3">
              <h3>{{ this.amount }}</h3>
            </div>
            <div class="col-3 d-flex">
              <a href="/records/{{this._id}}/edit">
                <button type="button" class="btn btn-info me-2">修改</button>
              </a>
              <form action="/records/{{this._id}}?_method=DELETE" method="POST">
                <button class="btn btn-danger">刪除</button>
              </form>
            </div>
          </div>
        </li>
        </li>

      </div>

      {{/each}}
    </ul>
  </div>
</div>


{{else}}

{{/if}}

<script>

  function ClearFields() {
    document.getElementById("sortCategory").value = "";
    document.getElementById("sortCategory").onchange();
  }

  function ClearText() {
    document.getElementById("sortKeywords").value = "";
  }
</script>